.container{
  display: block;
  height: 574px;
}

.container .leftContainer {
    display: inline-block;
    float: left;
    width: 25%;
    background-color: aliceblue;
    height: 100%;
}

.container .rightContainer {
    display: inline-block;
    float: left;
    width: 75%;
    background-color: antiquewhite;
    height: 100%;
}