.commentBox {
  padding-top: 10px;
  display: inline-block;

  .avatar {
    margin-left: 10px;
    float: left;

    img {
      height: 50px;
      width: 50px;
    }
  }

  .textArea {
    float: right;
    margin-left: 20px;

    .textContent {
      width: 650px;
      height: 50px;
    }
  }
}