.gagSection {
  width: 75%;
  border: 1px solid black;
  float: left;
  margin-top: 36px;

  .gagContainer {
    width: 700px;
    margin-left: 125px;

    .gagTitle {

    }
    .gagImageContainer {

      .gagImage {
        width: 100%;
        height: 100%
      }
    }
  }
}